@tailwind base;
@tailwind components;
@tailwind utilities;

.status-text {
    color: white;
    font-size: 14px;
    border-radius: 7px;
    display: inline-block;
    margin-top: 7px;
}

.status-pending {
    background: #4db6dc;
}

.status-rejected {
    background: #ad1d15;
}

.status-accepted {
    background: #1f8f1c;
}

.status-cancelled {
    background: #eab308;
}
