/* Logo */
.logo {
    max-height: 50px;
}

/* Ride request status*/
.status-text {
    color: white;
    font-size: 14px;
    border-radius: 7px;
    display: inline-block;
    margin-top: 7px;
}

.status-pending {
    background: #4db6dc;
}

.status-rejected {
    background: #ad1d15;
}

.status-accepted {
    background: #1f8f1c;
}

.status-cancelled {
    background: #eab308;
}


/* Rating  */
.rating {
    display: inline-block;
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
}

.rating label {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    cursor: pointer;
}

.rating label:last-child {
    position: static;
}

.rating label:nth-child(1) {
    z-index: 5;
}

.rating label:nth-child(2) {
    z-index: 4;
}

.rating label:nth-child(3) {
    z-index: 3;
}

.rating label:nth-child(4) {
    z-index: 2;
}

.rating label:nth-child(5) {
    z-index: 1;
}

.rating label input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.rating label .icon {
    float: left;
    color: transparent;
}

.rating label:last-child .icon {
    color: #000;
}

.rating label:last-child .rating-rated {
    color: #ffe43a;
}

.rating label input:checked ~ .icon {
    color: #ffe43a;
}

.rating label input:focus:not(:checked) ~ .icon:last-child {
    color: #000;
    text-shadow: 0 0 5px #09f;
}
